.snippet{
    background-color: antiquewhite!important;
}

.shop-name:hover {
    background-color: antiquewhite;
    color: orange;
}

.shop-name > a {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

.shop-name > a:hover {
    color: orange;
    text-decoration: none;
}

.col-xs-12 {
    margin-top: 20px;
}

.col-xs-6 {
    margin-top: 20px;
}

.col-xs-4 {
    margin-top: 20px;
}

.return {
    margin-top: 20px;
    width: 180px;
    border-radius: 10px;
    background-color: orange;
    color: black;
    font-size: 18px;
}

.nav-tabs > li.active {
    font-weight: bold;
}

.btn-cancel{
    color: white;
    background-color: #FF3333;
    border-color: #FF3333;
}

.return:hover {
    background-color: white;
}

.return > a {
    color: black;
}

.return > a:hover {
    text-decoration: none;
}

a.cart {
    text-decoration: none;
    color: black;
}

a.cart:hover {
    text-decoration: none;
    color: orange;
}

.row {
    margin-top: 20px;
}

.infor {
    margin-top: 40px;
    font-size: 18px;
}

.tab-pane > input {
    font-size: 20px;
}

.setup {
    font-size: 18px!important;
}

.pag{
    display: flex;
    justify-content: center;
    word-spacing: 20px;
    margin-bottom: 30px

}

.pag a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 8px 16px;
    transition: background-color 0.3s;

}

.pag a.page-item:hover{
    background-color: #EEEEEE;
    width: 45px;
}

.pag a.page-item.active{
    font-weight: bold;
    color: black;
    background-color: orange;
    width: 45px;
}

.bg-success {
    font-size: 18px;
    background-color: #bfefc4 !important;
    color: black !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
    background-color: #1e7e34 !important;
}

.bg-info {
    font-size: 18px;
    background-color: #b6bef5 !important;
    color: black !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
    background-color: #117a8b !important;
}

.bg-warning {
    font-size: 18px;
    background-color: #f2f98a !important;
    color: black !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
    background-color: #d39e00 !important;
}

.bg-danger {
    font-size: 18px;
    background-color: #f9c9cd !important;
    color: black !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
    background-color: #bd2130 !important;
}
