.gradient-custom {
    background-color: white;
    ;
}

h2 {
    color: orange;
    font-size: 35px;
}

p {
    font-size: 20px;
}
.mb-4{
    font-size: 20px;
    text-align: left;
}

.mb-4 > label{
    margin-left: 15px;
}

.mb-4 > select{
    margin-left: 0!important;
}

.mb-md-5 {
    margin-bottom: 0px!important;
}

.text-body{
    text-decoration: none!important;
}

.login-here-pr > button{
    height: 48px;
    background-color: orange;
    border-radius: 10px;
}

.option {
    margin-left: 0!important;
}


@media (prefers-reduced-motion: reduce){
    .form-select {
        height: 48px!important;
        font-size: 20px!important;
    }
}

.err {
    margin-left: 15px!important;
    font-size: 20px!important;
    margin-bottom: 24px!important;
}
