.navbar {
    z-index: 99;
    padding-top: 0px;
    padding-bottom: 0px;
}

body {
    padding-top: 8em;
}

.sliderFade {
    animation: fade 0.5s ease;
}

.sliderThumb,
.sliderMainImage {
    cursor: pointer;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.justify-content-lg-between {
    font-size: larger;
}

.d-lg-block {
    font-size: 25px;
    color: orange;
    font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: large;
    font-weight: bold;
}

.text-start {
    background-color: antiquewhite;
}

.container-header {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
}

.text-start {
    padding: 10px;
    padding-left: 340px;
    padding-right: 340px;
}

